body {
    background-color: #EAF6F6;
}

hr {
   background-color: #EAF6F6;
   border-style: none;
   border-top-style: dotted;
   border-width: 5px;
   width: 8%;
   border-color: grey;
}

h1 {
    color: #00E7FF;
}

h3 {
    color: #66BFBF;
}